name: Yocto RPi 64-bit Build

on:
  push:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Free disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo rm -rf /usr/local/share/boost
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"
        sudo rm -rf /usr/local/lib/android
        sudo docker image prune --all --force df -h

    - name: Cache Yocto downloads
      uses: actions/cache@v4
      with:
        path: downloads
        key: yocto-downloads-${{ hashFiles('kas-project.yml') }}
        restore-keys: |
          yocto-downloads-

    - name: Cache Yocto sstate
      uses: actions/cache@v4
      with:
        path: sstate-cache        
        key: yocto-sstate-${{ hashFiles('kas-project.yml') }}-${{ github.sha }}
        restore-keys: |
          yocto-sstate-${{ hashFiles('kas-project.yml') }}-yocto-sstate-

    - name: fix cache permissions
      run: | 
        mkdir -p downloads sstate-cache
        sudo chown -R 1000:1000 downloads sstate-cache
        sudo chmod -R 777 downloads sstate-cache
        
    - name: Build with Kas
      run: |
        docker run --rm \
         -v $(pwd):/work:rw \
         -v ${pwd}/downloads:/downloads:rw \
         -v ${pwd}/sstate-cache:/sstate-cache:rw \
         -e USER_ID=$(id -u) \
         -e GROUP_ID=$(id -g) \
         ghcr.io/siemens/kas/kas:latest \
         build /work/kas-project.yml

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rpi-images
        path: build/tmp/deploy/images/raspberrypi4-64/*.wic.bz2
