name: Yocto Build for Raspberry Pi 4 with Waydroid

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04  # Utilisation d'Ubuntu 22.04 pour éviter les problèmes liés aux user namespaces

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y \
          gawk wget git-core diffstat unzip texinfo gcc build-essential chrpath socat cpio python3 python3-pip python3-pexpect xz-utils debianutils iputils-ping bzip2 \
          lxc lxc-utils curl libglib2.0-dev libwayland-client0 libsystemd-dev git pkg-config
    
    - name: Cache Yocto sstate
      uses: actions/cache@v3
      with:
        path: poky/build/sstate-cache
        key: yocto-sstate-${{ runner.os }}-${{ github.sha }}
        restore-keys: |
          yocto-sstate-${{ runner.os }}

    - name: Clean Yocto tmp directory
      run: |
        rm -rf poky/build/tmp
        
    - name: Clone Yocto layers
      run: |
        # Cloner le dépôt principal de Yocto (Poky)
        git clone -b kirkstone git://git.yoctoproject.org/poky
        cd poky

        # Cloner le layer meta-raspberrypi pour le support Raspberry Pi
        git clone -b kirkstone git://git.yoctoproject.org/meta-raspberrypi ../meta-raspberrypi

        # Cloner meta-openembedded pour les dépendances supplémentaires
        git clone -b kirkstone git://git.openembedded.org/meta-openembedded ../meta-openembedded

        # Créer un layer personnalisé
        bitbake-layers create-layer ../meta-custom
        mkdir -p ../meta-custom/recipes-waydroid

        # Cloner les recettes Waydroid depuis kvfasil/waydroid
        git clone https://github.com/kvfasil/waydroid
        cp -r waydroid/* ../meta-custom/recipes-waydroid/

        # Ajouter le fichier layer.conf dans le layer personnalisé
        mkdir -p ../meta-custom/conf
        cat <<EOT > ../meta-custom/conf/layer.conf
        # Layer configuration for meta-custom
        BBPATH .= ":${LAYERDIR}"
        BBFILES += "${LAYERDIR}/recipes-*/*/*.bb"
        BBFILE_COLLECTIONS += "meta-custom"
        BBFILE_PATTERN_meta-custom = "^${LAYERDIR}/"
        BBFILE_PRIORITY_meta-custom = "6"
        EOT
        
    - name: Configure Yocto for Raspberry Pi 4 (64-bit)
      run: |
        source poky/oe-init-build-env build

        # Ajouter les layers nécessaires à bblayers.conf
        echo 'BBLAYERS += "${TOPDIR}/../meta-raspberrypi"' >> conf/bblayers.conf
        echo 'BBLAYERS += "${TOPDIR}/../meta-openembedded/meta-oe"' >> conf/bblayers.conf
        echo 'BBLAYERS += "${TOPDIR}/../meta-openembedded/meta-python"' >> conf/bblayers.conf      
        echo 'BBLAYERS += "${TOPDIR}/../meta-custom"' >> conf/bblayers.conf
        
        # Configurer local.conf pour Raspberry Pi 4 en 64 bits avec Waydroid
        echo 'MACHINE = "raspberrypi4-64"' >> conf/local.conf
        echo 'DISTRO = "poky"' >> conf/local.conf
        echo 'PACKAGE_CLASSES = "package_deb"' >> conf/local.conf
        echo 'EXTRA_IMAGE_FEATURES = "debug-tweaks ssh-server-dropbear"' >> conf/local.conf
        echo 'GPU_MEM = "256"' >> conf/local.conf
        echo 'ENABLE_UART = "1"' >> conf/local.conf
        echo 'IMAGE_FSTYPES = "rpi-sdimg"' >> conf/local.conf
        echo 'IMAGE_INSTALL:append = " vim python3 nano wayland waydroid weston kernel-modules"' >> conf/local.conf
        echo 'WHITELIST_GPL-3.0 += " waydroid"' >> conf/local.conf
        echo 'DISTRO_FEATURES:append = " waydroid"' >> conf/local.conf
        
    - name: Build Yocto image
      run: |
        source poky/oe-init-build-env build
        bitbake core-image-minimal
        
    - name: Upload Yocto Image
      uses: actions/upload-artifact@v4
      with:
        name: yocto-image
        path: poky/build/tmp/deploy/images/raspberrypi4-64/
        
