name: Yocto RPi 64-bit Build

on:
  push:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Free disk space
      run: |
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf /opt/ghc
        sudo df -h

   
    - name: Build with Kas
      run: |
        docker run --rm -v $(pwd):/work:rw \
         ghcr.io/siemens/kas/kas:latest \
         build /work/kas-project.yml

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: rpi-images
        path: build/tmp/deploy/images/raspberrypi4-64/*.rpi-sdimg