header:
  version: 18

machine: raspberrypi4-64
distro: poky

target:
  - core-image-minimal

repos:
  poky:
    url: "https://git.yoctoproject.org/git/poky"
    branch: scarthgap
    refspec: scarthgap
    layers:
      meta:
      meta-poky:
      meta-yocto-bsp:

  meta-openembedded:
    url: "https://git.openembedded.org/meta-openembedded"
    branch: scarthgap
    refspec: scarthgap
    layers:
      meta-oe:
      meta-python:
      meta-networking:

  meta-raspberrypi:
    url: "https://git.yoctoproject.org/git/meta-raspberrypi"
    branch: scarthgap
    refspec: scarthgap

local_conf_header:
  standard: |
    CONF_VERSION = "2"
    PACKAGE_CLASSES ?= "package_rpm"
    EXTRA_IMAGE_FEATURES ?= "debug-tweaks"
    USER_CLASSES ?= "buildstats"
    PATCHRESOLVE = "noop"
    BB_DISKMON_DIRS ??= "\
        STOPTASKS,${TMPDIR},1G,100K \
        STOPTASKS,${DL_DIR},1G,100K \
        STOPTASKS,${SSTATE_DIR},1G,100K \
        STOPTASKS,/tmp,100M,100K \
        HALT,${TMPDIR},100M,1K \
        HALT,${DL_DIR},100M,1K \
        HALT,${SSTATE_DIR},100M,1K \
        HALT,/tmp,10M,1K"
    
  raspberrypi: |
    IMAGE_FSTYPES = "tar.xz ext3 rpi-sdimg"
    ENABLE_UART = "1"
    ENABLE_I2C = "1"
    ENABLE_SPI = "1"